@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Chomsky';
  src: url('/public/font/Chomsky-8MOa2.ttf'), format('truetype');
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background: #ffffff;
}
