.title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--color);
  margin-bottom: 80px;
}

.date {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color);
  margin-bottom: 80px;
}

@media screen and (max-width: 1170px) {
  .date {
    color: var(--backgroundcolor);
  }
}
