@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --backgroundcolor: #fff;
  --color: #000;
  --pink: #fb2576;
  --pink_rgb: 251, 37, 118;
  --purple: #150050;
  --slateblue: #5e4fbd;
  --slateblue_rgb: 94, 79, 189;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--backgroundcolor);
  transition: all 0.3s ease;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.margin10 {
  margin: auto 10%;
}

.margin20 {
  margin: auto 20%;
}

.margin30 {
  margin: auto 30%;
}
@media (prefers-color-scheme: dark) {
  :root {
    --backgroundcolor: #181a1b;
    --color: #fff;
  }
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-slide-active:hover > .thecard {
  transform: rotateY(180deg);
}

.swiper-slide img {
  display: block;
  width: 100%;
}
