.sideNav {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 50%;
  right: -40px;
  width: 70px;
  height: 250px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 10px 10px 5px 0px;
  border-radius: 10px 0 0 10px;

  transform: translate(0, -50%);
}

.openArrow {
  margin-right: -5px;
  font-size: 1.8rem;
  color: var(--color);
}

.sideNav:hover {
  right: 0px;
}

.sideNavIcon {
  font-size: 1.7rem;
  color: var(--backgroundcolor);
  overflow-x: hidden;
  transition: 0.5s;
}

.sideNavIcon:hover {
  color: var(--pink);
}
